body {
  margin: 0;
  font-family: 'DomaineText',Georgia,serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1d2547;
  background: #f9efef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#error-page {
  text-align: center;
  padding-top: 20vh;
}
#error-page h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
.top-bar a.active,.nav-drawer a.active {
    text-decoration: underline;
}
